@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

html,body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
    z-index: 999;
    .nav-item{
        margin: 0 10px;
        a.nav-link{
            font-weight: 700;
            text-transform: uppercase;
            color: #575757;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.2s ease-out 0s;
            font-size: 14px;
            &:hover{
                color: #9711C6  
            }
        }
    }
    .toggle-nav{
        height: 30px;
        width: 30px;
        background: url(../img/bars-solid.svg) no-repeat;
        border: none;
        background-size: 20px;
        outline: none;
    }
}
.nav-active{
    box-shadow: 0 3px 10px #ccc;
    background: rgba($color: #fff, $alpha: .95);
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    #header-bg{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: url(../img/header-img2.svg) no-repeat;
        background-position-x: 95%;
        background-position-y: 60%;
        background-position-y: 100%;
        background-size: 80% 95%;
        z-index: -1;
    }
}
.header-inner{
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s linear;
    h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        line-height: 1.3;
        font-size: 5rem;
        color: #333;
        margin: 0px 0px 2rem;
        transition: color 0.2s ease-out 0s;
        .name{
            color: #5870EC;
            font-weight: 600;
            text-shadow: -1px 3px 10px rgba(151, 17, 198, .5);
            background: linear-gradient(45deg, #9711C6, #2538E0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .hidden {
        opacity:0;
    }
    .console-container {
        font-family: 'Montserrat', sans-serif;
        font-size:1em;
        text-align:left;
        display:block;
        color: #575757;
        font-weight: 400;
        font-size: 1.8rem;
        transition: color 0.2s ease-out 0s;
    }
    .console-underscore {
        display:inline-block;
        position:relative;
        left:10px;
    }
    .text{
        color: #575757;
        font-weight: 400;
        font-size: 1.8rem;
    }
    .about-me-btn{
        position: absolute;
        margin: 4em 0;
        text-decoration: none;
        padding: 10px 40px;
        border-radius: 30px;
    
        border: 1px solid #5870EC;
        // background: #5870EC;
        background: linear-gradient(45deg, #9711C6, #5870EC);
        color: #fff;
        box-shadow: 0 5px 10px #ccc;
        transition: all .2s;
        &:hover{
            position: absolute;
            transform: translateY(-5px);
            background: linear-gradient(45deg, #9711C6, #5870EC);
        }
    }
}
#about{
    height: 100%;
    margin-bottom: 150px;
    position: relative;
    .about-me-title{
        padding-top: 100px;
        color: #9711C6;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;
    }
    .subtitle{
        padding: 20px;
        font-size: 1.3em;
        text-shadow: 0 15px 20px #777;
        color: #575757;
        span{
            color: #5870EC;
            font-weight: bold;
            text-shadow: -1px 3px 10px rgba(151, 17, 198, .5);
            background: linear-gradient(45deg, #9711C6, #2538E0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .about-text{
        font-size: 1.1em;
        line-height: 30px;
        span.important-info{
            color: #5870EC;
            font-weight: 600;
            text-shadow: -1px 3px 10px rgba(151, 17, 198, .5);
            background: linear-gradient(45deg, #9711C6, #2538E0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        span.bolder-text{
            font-weight: 500;
            font-style: italic;
        }
    }
    h4{
        color: #444;
        font-weight: 600;
        font-size: 1.4em;
    }
    .stuck-techs{
        font-weight: 700;
        font-size: 1em;
        color: #9711C6;
        line-height: 30px;
    }
    .resume_btn{
        text-decoration: none;
        position: absolute;
        left: 50%;
        background: linear-gradient(45deg, #9711C6, #2538E0);
        margin-top: 50px;
        padding: 12px 30px;
        border-radius: 50px;
        color: #fff;
        transform: translateX(-50%);
        text-align: center;
        transition: all .2s;
        box-shadow: 0 3px 10px #999;
        img{
            width: 20px;
            margin-right: 5px;
        }
        &:hover{
            margin-top: 40px;
        }
    }
}

#portfolio{
    padding: 100px 0;
    h1{
        color: #9711C6;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;
    }
    h5{
        line-height: 30px;
        font-weight: 400;
    }
}

#contacts{
    h1{
        color: #9711C6;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;
    }
    h5{
        font-weight: 500;
        color: #777;
        b{
            color: #444;
        }
        a{
            color: #000;
            text-decoration: none;
            transition: all .2s;
            &:hover{
                color: #9711C6;
            }
        }
    }
    .email_address{
        margin: 80px 0 30px;
        font-weight: 600;
    }
    .social_bar{
        list-style: none;
        margin: 0 0 70px;
        text-align: center;
        padding: 0;
        position: relative;
        li{
            margin: 0 10px;
            display: inline-block;
            border-radius: 50%;
            border: 2px solid #9711C6;
            width: 50px;
            height: 50px;
            padding: 11px 10px;
            transition: all .2s;
            a{
                svg{
                    transition: fill .2s;
                    width: 25px;
                    height: 25px;
                    fill: #9711C6;
                }
            }
            &:hover{
                background: #9711C6;
                border-color: #9711C6;
            }
            &:hover svg{
                fill: #fff;
                transition: fill .2s;
            }
        }
        // li{
        //     height: 50px;
        //     width: 50px;
        // }
    }
}

.navbar-toggler{
    color: #000;
}
@media only screen and (max-width: 992px){
    .header-inner{
        h1{
            font-size: 2em;
        }
        .console-container,.text{
            font-size: 1.2em;
        }
        .about-me-btn{
            font-size: .8em;
            padding: 8px 25px;
        }
    }
    .header-inner .about-me-btn{
        margin: 2em 0;
    }
}
@media only screen and (max-width: 768px){
    .header-inner{
        h1{
            font-size: 2.5em;
        }
        .console-container,.text{
            font-size: 1.5em;
        }
        .about-me-btn{
            font-size: .8em;
            padding: 8px 25px;
        }
    }
    header #header-bg{
        background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(../img/header-img2.svg) no-repeat;
    }
    #about .about-me-title,#portfolio h1,#contacts h1{
        font-size: 1.3em;
    }
    #about .subtitle{
        margin: 0 0 10px!important;
        font-size: 1em;
    }
    #about .about-text{
        font-size: .9em;
    }
    #about .starting-about{
        margin: 10px 0 0!important;
    }
    #about .stuck-techs{
        font-size: .8em;
    }
    #about .resume_btn{
        padding: 8px 25px;
        font-size: .7em;
        img{
            width: 15px;
        }
    }
    #portfolio h5,#contacts h5{
        font-size: .9em;
    }
    #contacts .social_bar li{
        margin: 0 5px;
        width: 40px;
        height: 40px;
        padding: 6px;
    }
    .bottom-logo{
        width: 140px;
    }
    #contacts h6{
        font-size: .7em;
    }
}